<nav class="nav-center">
    <div class="nav-wrapper navbar-fixed grey darken-2">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="hide-on-med-and-down">
            <li><a href="david.html" translate="NAVBAR.SECTION1"></a></li>
            <li><a href="is.html" translate="NAVBAR.SECTION2"></a></li>
            <li><a href="cute.html" translate="NAVBAR.SECTION3"></a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="david.html" translate="NAVBAR.SECTION1"></a></li>
    <li><a href="is.html" translate="NAVBAR.SECTION2"></a></li>
    <li><a href="cute.html" translate="NAVBAR.SECTION3"></a></li>
</ul>