<div id="background" class="background responsive-img">
  <div class="container">
    <h3 class="flow-text"><span translate="LOGIN.WELCOME"></span></h3>
    <h1><span translate="LOGIN.NAMES"></span></h1>
    <div class="row">
        <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password"><span translate="LOGIN.PASSWORD"></span></label>
        </div>
    </div>

    <a class="waves-effect waves-light btn"><span translate="LOGIN.GETIN"></span></a>

    <app-language-selector></app-language-selector>
  </div>
</div>
