@import "materialize-css/sass/components/color-variables";
@import "materialize-css/sass/components/color-classes";
@import 'materialize-css/sass/components/variables';

.login {
    height: 100vh;

    #background {
        margin: 0px;
        height: 100%;
        width: 100%;
        background: url('../../assets/images/beach.jpg')no-repeat center center fixed;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

        .text-on-image {
            background-color: rgba(255, 255, 200, 0.35);
        }
    }
    
    h2 {
        font-weight: bold;
    }

    .pass {
        row {
            margin-bottom: 0;
        }
        
        input {
            font-family: 'Courier New', monospace;
        }

        @media #{$small-and-down} {
            margin-top: 20vh;
        }
    
        @media #{$medium-and-up} {
            margin-top: 30vh;
        }
    }

    .language {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}