<div class="login valign-wrapper">
  <div id="background" class="background responsive-img">
    <div class="container text-on-image">
      <h5 class="flow-text center-align">
        <div translate="LOGIN.WELCOME"></div>
      </h5>
      <h2 class="center-align blue-grey-text text-darken-4">
        <div translate="LOGIN.NAMES"></div>
      </h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="text" class="validate" [class.invalid]="invalid" (keyup.enter)="login(code.value)" #code autofocus>
          <label for="password"><span translate="LOGIN.PASSWORD"></span></label>
          <span class="helper-text" [attr.data-error]="errorText"></span>
        </div>
      </div>
      <div class="center-align">
        <a class="waves-effect waves-light btn-large" (click)="login(code.value)"><span class="text-bold"
            translate="LOGIN.GETIN"></span></a>
      </div>
    </div>


    <div class="language">
      <app-language-selector></app-language-selector>
    </div>
  </div>
</div>
