@import '../../styles.scss';

body, input, textarea {

  font-family: trispace, monospace;
  font-family: 'Courier New', monospace;
}

.card-content {
  margin: 1rem;

  p {
    padding-bottom: 15px;
  }
}

a {
  i {
    color: $primary-color;
  }

  :hover {
    text-decoration: underline;
  }
}
