<div class="container">
    <div class="center-align">
      <h5>
        <b translate="MENU.TITLE"></b>
      </h5>
    </div>
    <div>
      <h6><b translate="MENU.SOUP.TITLE"></b></h6>
      <div>
        <div translate="MENU.SOUP.TOMATO"></div>
        <div translate="MENU.OR"></div>
        <div translate="MENU.SOUP.CHICKEN"></div>
      </div>
      <h6><b translate="MENU.MAIN.TITLE"></b></h6>
      <div>
        <div translate="MENU.MAIN.DUCK"></div>
        <div translate="MENU.OR"></div>
        <div translate="MENU.MAIN.PIG"></div>
        <div translate="MENU.OR"></div>
        <div translate="MENU.MAIN.VEGE"></div>
      </div>
      <h6><b translate="MENU.DESSERT.TITLE"></b></h6>
      <div>
        <div translate="MENU.DESSERT.PANACOTA"></div>
      </div>
      <h6><b translate="MENU.GRILL.TITLE"></b></h6>
      <div>
        <ul>
          <li translate="MENU.GRILL.BAO_CHICKEN"></li>
          <li translate="MENU.GRILL.BAO_SEITAN"></li>
          <li translate="MENU.GRILL.BAO_CHILI"></li>
          <li translate="MENU.GRILL.RIBS"></li>
          <li translate="MENU.GRILL.DICK"></li>
          <li translate="MENU.GRILL.PIEROGI"></li>
          <li translate="MENU.GRILL.VEGGIES"></li>
          <li translate="MENU.GRILL.FRITTERS"></li>
          <li translate="MENU.GRILL.CARROTS"></li>
          <li translate="MENU.GRILL.CELERY"></li>
          <li translate="MENU.GRILL.MUSHROOMS"></li>
          <li translate="MENU.GRILL.POTATOS"></li>
        </ul>
      </div>
    </div>
  </div>
  