form {
    margin-top: 3rem;

    .chips {
        overflow: auto;
        height: 10rem;
        border: none;

        //z-depth-1 with improvements
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 0px -1px rgb(0 0 0 / 12%), 0 0px 3px 0 rgb(0 0 0 / 20%);
        
        padding: 0.5rem;
        //outline: none;

        &.focus {
            //z-depth-2
            box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
        }
    }
}