<div class="container">
  <div class="row" *ngIf="guestForms">
    <div class="col m12 l6" *ngFor="let guest of guestForms.controls; index as i;">
      <div class="card">
        <div class="card-content">
          <div class="center-align blue-grey-text text-darken-4">
            <h5>
              <span>RSVP</span>
              <span>&nbsp;</span>
              <span><i class="fa-solid fa-envelope"></i></span>
              <span>&nbsp;</span>
            </h5>
            <h6><b>{{guest.value.name}} {{guest.value.surname}}</b></h6>
          </div>
          <form [formGroup]="guest">
            <div class="container">
              <div class="row">
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" formControlName="going"/>
                    <span><b>Going?</b></span>
                  </label>
                </p>
              </div>
              <div class="row">
                <b>Please choose your diet</b>
                <p>
                  <label>
                    <input name="diet" type="radio" [value]="Diets.PLANT" formControlName="diet"/>
                    <span>Plant based meal</span>
                    <span>&nbsp;</span>
                    <i class="fa-solid fa-seedling fa-2x"></i>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="diet" type="radio" [value]="Diets.MEAT" formControlName="diet"/>
                    <span>Meat based meal</span>
                    <span>&nbsp;</span>
                    <i class="fa-solid fa-cow fa-2x"></i>
                  </label>
                </p>
              </div>
              <div class="row">
                <b>Any allergies or dietary restrictions?</b>
                <div class="chips chips-placeholder text-white"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
