  <div class="full-height valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <app-map></app-map>
        </div>
        <div class="col s12 m6">
          <h5><b>Oczyszczalnia Miejsce</b></h5>
          <p><b><span translate="LOCATION.ADDRESS"></span></b></p>
          <p>Ludwików 26, 26A <br>
            96-515 Teresin <br>
            Powiat Sochaczewski</p>
          <p><a href="https://goo.gl/maps/LHLN1tgm8wNbq5Ar7" target="_blank" class="waves-effect waves-light btn" translate="LOCATION.BUTTON_MAPS"><i class="material-icons left">map</i></a></p>
          <p><a href="https://ul.waze.com/ul?ll=52.186054,20.467188" target="_blank" class="waves-effect waves-light btn" translate="LOCATION.BUTTON_WAZE"><i class="fa-brands fa-waze left"></i></a></p>
          <p><a href="https://oczyszczalniamiejsce.pl/en/contact-us/" target="_blank" class="waves-effect waves-light btn" translate="LOCATION.BUTTON_VENUE"><i class="material-icons left">link</i></a></p>
        </div>
      </div>
    </div>
  </div>

