<nav class="nav-center">
  <div class="nav-wrapper navbar-fixed grey" >
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="hide-on-med-and-down">
      <li><a href="david.html">DAVID</a></li>
      <li><a href="is.html">IS</a></li>
      <li><a href="cute.html">CUTE</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="david.html">DAVID</a></li>
  <li><a href="is.html">IS</a></li>
  <li><a href="cute.html">CUTE</a></li>
</ul>

<router-outlet></router-outlet>
