@import "/src/styles";

/* (A) TIMELINE CONTAINER */
.timeline {
    /* (A1) RELATIVE POSITION REQUIRED TO PROPERLY POSITION THE TIMELINE */
    position: relative;

    /* (A2) RESERVE MORE SPACE TO THE LEFT FOR THE TIMELINE */
    padding: 10px 10px 10px 50px;

    /* (A3) OPTIONAL WIDTH RESTRICTION */
    max-width: 400px;
}

.timeline,
.timeline * {
    box-sizing: border-box;
}

/* (B) DRAW VERTICAL LINE USING ::BEFORE */
.timeline::before {
    /* (B1) VERTICAL LINE */
    content: "";
    width: 2px;
    background-color: $primary-color;

    /* (B2) POSITION TO THE LEFT */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
}

/* (F) CIRCLE ON TIMELINE */
div.event::after {
    /* (F1) "MAGIC CIRCLE" */
    content: "";
    background: #fff;
    border: 1px solid $primary-color;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    /* (F2) POSITION TO THE LEFT */
    position: absolute;
    top: 27%;
    left: -44px;
}
