.lang-picker {
  height: 3.5rem;

  ul {
    display: flex;
    flex-direction: column;

    &.up {
      flex-direction: column-reverse;
      margin: 0;
    }
  }

  li {
    flex: 0 0 auto;
    height: 3.5rem;
  }
}
