<div class="container">
    <div class="center-align row">
        <h5>
            <b translate="TRANSLATOR.TITLE"></b>
        </h5>
    </div>
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <table class="highlight centered">
                    <thead>
                      <tr>
                          <th>
                            <app-language-picker class="center-align" [selectedLang]="langLeft" (changeLang)="changeLangLeft($event)">
                            </app-language-picker>
                          </th>
                          <th>
                            <app-language-picker class="center-align" [selectedLang]="langRight" (changeLang)="changeLangRight($event)">
                            </app-language-picker>
                          </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let sentence of sentences; index as i;">
                        <td>{{  sentence[langLeft] }}</td>
                        <td>{{ sentence[langRight] }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>