<div class="welcome">
    <div class="cover valign-wrapper">
        <div class="background">
            <div class="text-on-image">
                <h1 class="row center-align grey-text text-darken-4">
                    <div class="bride-and-groom fancy-font" translate="INVITATION.NAMES"></div>
                </h1>

                <div class="row center-align">
                    <div class="col s12 m6 link">
                        <h5>
                            <a routerLink="/home" fragment="location">
                                <span translate="INVITATION.PLACE"></span>
                            </a>
                        </h5>
                        <p translate="INVITATION.WHERE"></p>
                    </div>
                    <div class="col s12 m6 link">
                        <h5>
                            <a routerLink="/home" fragment="schedule">
                                <span translate="INVITATION.DATE"></span>
                            </a>
                        </h5>
                        <p translate="INVITATION.WHEN"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>