.invitation {
  text-align: justify;
  text-justify: inter-word;
  line-height: 2;
  font-weight: bold;

  .card-content {
    position: relative;
    .dear {
      text-transform: capitalize;
    }

    .icon {
      vertical-align: middle;
    }

    p {
      padding-bottom: 1.5rem;
      color: #000; /* Fallback for older browsers */
      color: rgba(0, 0, 0, 0.5);

      &.bolder {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  .card::before {
    background-image: url('../../assets/images/paper.png');
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
  }

}