<div class="welcome">
    <div class="cover valign-wrapper">
        <div class="background">
            <div class="container text-on-image">
                <h1 class="row center-align blue-grey-text text-darken-4">
                    <div translate="INVITATION.NAMES"></div>
                </h1>

                <div class="row center-align">
                    <h5 class="link">
                        <span class="col s12 m5">
                            <a routerLink="/home" fragment="location">
                                <span translate="INVITATION.PLACE"></span>
                            </a>
                        </span>

                        <span class="col s2 m2 hide-on-small-only separator"> | </span>
                        <span class="row hide-on-med-and-up"> - </span>

                        <span class="col s12 m5">
                            <a routerLink="/home" fragment="schedule">
                                <span translate="INVITATION.DATE"></span>
                            </a>
                        </span>

                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="invitation">
        <div class="container">
            <h5 class="row center-align"><span translate="INVITATION.INVITE.DEAR"></span><span> {{guest}},</span></h5>
            <h6 class="row center-align">
                <b class="blue-grey-text text-darken-3" translate="INVITATION.INVITE.HAPPY"
                    [translateParams]="{ companions: companions }"></b>
            </h6>
            <div class="row center-align" [innerHTML]="'INVITATION.INVITE.DETAILS' | translate"></div>
            <div class="row center-align">
                <span translate="INVITATION.INVITE.DRESSCODE"></span>
                <span> : </span>
                <span translate="INVITATION.INVITE.BUSINESSCASUAL"></span>
                <!--<span class="fa-stack" style="vertical-align: center;">
                    <i class="fa fa-ban fa-stack-2x"></i>
                    <i class="fa-brands fa-black-tie fa-stack-1x"></i>
                </span> -->
            </div>
            <h6 class="row center-align">
                <b class="blue-grey-text text-darken-3" translate="INVITATION.INVITE.NOGIFTS">
                    <span>&nbsp;</span>
                    <span><i class="fa-solid fa-heart"></i></span>
                </b>
            </h6>
            <div class="valign-wrapper">
                <div class="row center-align" translate="INVITATION.INVITE.HOWEVER">
                    <div class="center-align blue-grey-text text-darken-3">
                        <p>
                            <span>
                                <i class="fa-solid fa-piggy-bank fa-1x"></i>
                                <i class="fa-solid fa-euro-sign fa-1x"></i>
                                <span> &nbsp; </span>
                                <i class="fa-solid fa-paw fa-1x"></i>
                                <i class="fa-solid fa-bowl-food fa-1x"></i>
                            </span>
                            <span> &nbsp; </span>
                            <span class="fa-stack" style="vertical-align: center;">
                                <i class="fa fa-ban fa-stack-2x"></i>
                                <i class="fa-solid fa-gift fa-stack-1x"></i>
                            </span>
                            <span> &nbsp; </span>
                            <span class="fa-stack" style="vertical-align: center;">
                                <i class="fa fa-ban fa-stack-2x"></i>
                                <i class="fa-solid fa-spa fa-stack-1x"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>