@import 'materialize-css/sass/materialize.scss';

.welcome {
    height: 100vh;
    padding-top: 0;

    .cover {
        height: 40%;
        width: 100%;
        .background {
            position: relative;
            height: 100%;
            width: 100%;
            ::before {    
                background-size: cover;
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -2;
                opacity: 0.6;
            
                @media #{$medium-and-down} {
                    background-image: url('../../assets/images/beach.jpg');
                
                }
                
                @media #{$large-and-up} {
                    background-image: url('../../assets/images/beach_cover.jpg');
                
                }
            }

            .text-on-image {
                background-color: rgba(255, 255, 255, 0.1);
            }
            
            h2 {
                font-weight: bold;
                margin-bottom: 0;
            }
        }
    }
    
    .invitation {
        height: 60%;
        width: 100%;
    }
}
