<div>
    <div class="cover">
        <div class="background">
            <div>
                <div class="row center-align">
                    <h1 translate="INVITATION.NAMES"></h1>
                </div>
                <div class="row center-align">
                    <h3>
                        <a routerLink="/home" fragment="location" translate="INVITATION.PLACE"></a>
                        <span> | </span>
                        <a routerLink="/home" fragment="schedule" translate="INVITATION.DATE"></a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="invitation">
        <h3><span translate="INVITATION.DEAR"></span><span> {{guest}},</span></h3>
        <h4><span translate="INVITATION.INVITATION"></span></h4>
    </div>
</div>
