@font-face {
  font-family: fife;
  src: url(assets/fonts/FifeGallery.otf) format("opentype"),
       url(assets/fonts/FifeGallery.ttf) format("truetype"),
       url(assets/fonts/FifeGallery.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: RetroSignature;
  src: url(assets/fonts/RetroSignature.otf) format("opentype");
  //url(assets/fonts/Brominates.ttf) format("truetype");
  //url(assets/fonts/Xiomy.otf) format("opentype");
  //url(assets/fonts/Antro_Vectra_Bolder.otf) format("opentype");
  //url(assets/fonts/Notera_PersonalUseOnly.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: xantorid;
  src: url(assets/fonts/Xantorid.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: xantorid-italic;
  src: url(assets/fonts/Xantorid-Italic.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: trispace;
  src: url(assets/fonts/Trispace-Thin.woff2) format("woff2");
  font-display: swap;
}
