@import "materialize-css/sass/components/color-variables";
@import "materialize-css/sass/components/color-classes";

$primary-color: color("grey", "lighten-1") !default;
$primary-color-light: color("grey", "lighten-2") !default;
$primary-color-dark: color("grey", "darken-1") !default;
$secondary-color: $primary-color !default;

$chip-selected-color: $primary-color-light;
$chip-bg-color: $primary-color-dark;
$link-color: #000000DE;
$owca-color: #4a5d83;

@import 'materialize-css/sass/materialize.scss';

/* You can add global styles to this file, and also import other style files */
body {

    .fancy-font {
        font-family: fife, 'arial', sans-serif;
    }

    // CHIPS

    .chip {
        color: white;
        height: auto !important;
        word-break: break-word;
    }

    //FONTS
    // font-family: 'Courier New', monospace;
    font-family: trispace, monospace;

    input {
        // font-family: 'Courier New', monospace;
        font-family: trispace, monospace;
    }

    h5 {
        color: $primary-color-dark
    }

    @media #{$small-and-down} {
        // styles for medium screens and down
        font-size: 0.875rem !important;

        h1 {
            font-size: 3.675rem !important;
        }

        h2 {
            font-size: 3.115rem !important;
        }

        h3 {
            font-size: 2.555rem !important;
        }

        h4 {
            font-size: 1.995rem !important;
        }

        h5 {
            font-size: 1.435rem !important;
        }

        h6 {
            font-size: 0.976rem !important;
        }
    }

    // default
    @media #{$medium-and-up} {
        font-size: 1rem !important;

        h1 {
            font-size: 4.2rem !important;
        }

        h2 {
            font-size: 3.56rem !important;
        }

        h3 {
            font-size: 2.92rem !important;
        }

        h4 {
            font-size: 2.28rem !important;
        }

        h5 {
            font-size: 1.64rem !important;
        }

        h6 {
            font-size: 1.15rem !important;
        }
    }

    @media #{$large-and-up} {
        // styles for large screens and up
        font-size: 1.125rem !important;

        h1 {
            font-size: 4.725rem !important;
        }

        h2 {
            font-size: 4.005rem !important;
        }

        h3 {
            font-size: 3.285rem !important;
        }

        h4 {
            font-size: 2.565rem !important;
        }

        h5 {
            font-size: 1.845rem !important;
        }

        h6 {
            font-size: 1.295rem !important;
        }
    }

    @media #{$extra-large-and-up} {
        // styles for extra large screens and up
        font-size: 1.25rem !important;

        h1 {
            // font-size: 5.25rem !important;
            font-size: 8rem !important;
        }

        h2 {
            font-size: 4.45rem !important;
        }

        h3 {
            font-size: 3.65rem !important;
        }

        h4 {
            font-size: 2.85rem !important;
        }

        h5 {
            font-size: 2.05rem !important;
        }

        h6 {
            font-size: 1.44rem !important;
        }
    }

    // BUTTONS
    .btn,
    .btn-large {
        background-color: $primary-color;

        &:hover {
          background-color: $secondary-color;
        }
    }

}
