<app-navbar></app-navbar>
<section id="cover"><app-cover></app-cover></section>
<div class="background">
    <section id="invitation"><app-invitation></app-invitation></section>
    <section id="rsvp"><app-rsvp></app-rsvp></section>
    <section id="location"><app-location></app-location></section>
    <section id="schedule"><app-schedule></app-schedule></section>
    <section id="pictures"><app-pictures></app-pictures></section>
    <!-- <section id="countries"><app-countries></app-countries></section> -->
    <section id="translator"><app-translator></app-translator></section>
    <section id="contact"><app-contact></app-contact></section>
    <section id="companies"><app-companies></app-companies></section>
</div>

<app-footnote></app-footnote>
