@import 'materialize-css/sass/materialize.scss';

.background {
    z-index: -1;
    background-image: url('../../assets/images/fern.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-color:rgba(0, 0, 0, 0.1);
    }
section {
    @media #{$small-and-down} {
        padding-top: 56px;
    }

    @media #{$medium-and-up} {
        padding-top: 64px;
    }
}
