<app-navbar></app-navbar>
<section id="invitation"><app-invitation></app-invitation></section>
<div class="divider"></div>
<section id="rsvp"><app-rsvp></app-rsvp></section>
<div class="divider"></div>
<section id="location"><app-location></app-location></section>
<div class="divider"></div>
<section id="schedule"><app-schedule></app-schedule></section>
<div class="divider"></div>
<section id="pictures"><app-pictures></app-pictures></section>
<div class="divider"></div>
<section id="countries"><app-countries></app-countries></section>
<div class="divider"></div>
<section id="contact"><app-contact></app-contact></section>
<div class="divider"></div>
<section id="companies"><app-companies></app-companies></section>
