@import 'materialize-css/sass/materialize.scss';

.background {
    z-index: -1;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-color: white;
    }
section {
    @media #{$small-and-down} {
        padding-top: 56px;
    }

    @media #{$medium-and-up} {
        padding-top: 64px;
    }
}
