<div class="container">
    <div class="row center-align">
        <h5>
            <b translate="PICTURES.TITLE"></b>
        </h5>
    </div>
    <div class="row pics">
        <div class="col s12 m12 l6 center-align">
            <div class="center-align details">
                <div>
                    <span translate="PICTURES.OWCA"></span>
                    <p>
                        <a href="https://magic-flash.client-gallery.com/gallery/malwida-wedding/" target="_blank"
                            class="waves-effect waves-light btn" translate="PICTURES.MAGIC_LINK"><i
                                class="material-icons left">photo_camera</i></a>
                    </p>
                </div>
                <div>
                    <p translate="PICTURES.ANETA"></p>
                </div>
                <div>
                    <p translate="PICTURES.SHARE"></p>
                    <p>
                        <a href="https://drive.google.com/drive/folders/1q-w7qSZ3ucPkigJ6StPbH3p9BoNfbDO2?usp=drive_link"
                            target="_blank" class="waves-effect waves-light btn" translate="PICTURES.DRIVE_LINK"><i
                                class="fa-brands fa-google-drive left"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6 center-align">
            <div class="carousel carousel-slider" #carouselPictures (click)="carouselReset()">
                <a class="carousel-item"><img src="../../assets/images/pictures/0.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/1.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/2.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/3.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/4.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/5.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/6.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/7.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/8.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/9.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/10.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/11.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/12.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/13.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/14.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/15.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/16.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/17.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/18.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/19.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/20.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/21.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/22.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/23.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/24.jpg"></a>
                <a class="carousel-item"><img src="../../assets/images/pictures/25.jpg"></a>
            </div>
        </div>
    </div>
</div>