<div class="container">
    <div class="row center-align">
        <h5>
            <b translate="PICTURES.TITLE"></b>
        </h5>
    </div>
    <div class="carousel carousel-slider" #carouselPictures>
        <a class="carousel-item"><img src="../../assets/images/pictures/monty_1.jpg"></a>
        <a class="carousel-item"><img src="../../assets/images/pictures/monty_2.jpg"></a>
        <a class="carousel-item"><img src="../../assets/images/pictures/monty_3.jpg"></a>
        <a class="carousel-item"><img src="../../assets/images/pictures/monty_4.jpg"></a>
        <a class="carousel-item"><img src="../../assets/images/pictures/monty_5.jpg"></a>
    </div> 
    <div class="row center-align details">
        <div translate="PICTURES.AVAILABLE"></div>
    </div>  
</div>